#main {
    border: solid var(--flame-logo) 4px;
}

/*Hero Styles */
.hero {
    position: relative;
    height: 90vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    /* border: solid red; */
}

/* Video Wrapper  */
.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

/* TAG LINE  */
.hero-content {
    z-index: 2;
    padding: 0 1.5rem;
    text-align: center;
    color: white;
    padding-bottom: 5rem;
}

.tag-line {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    font-family: "HanumanBold";
    font-size: 4.5rem;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation: glow 5.0s infinite alternate;
    text-shadow: 0 0 5px #1100ffc3, 0 0 10px #0011ffbc, 0 0 20px #0800ffb8, 0 0 40px #005effbb, 0 0 80px #0033ffbc;
}

/* .tag-line .left{
    position: relative;
    text-align: right;
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.tag-line .right{
    position: relative;
    transform: translateX(200%);
    animation-name: slide-in-right;
} */

/* CTA  */
.hero a {
    position: relative;
    color: white;
    background: #f25202ba;
    font-family: "HanumanBold";
}

.hero a:hover {
    background: #065db4cb;
    color: red;
}

.cta-button {
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}


/* MAIN BODY  */
#main {
    background: rgba(112, 128, 144, 0.093);
}

.intro {
    text-align: center;
    padding: 1rem;
    border: solid #2C2C2C 5px;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgb(68, 62, 62);
    background: rgba(20, 46, 149, 0.136);
}

.intro h2 {
    font-family: RobotoXL;
    font-size: 2rem;
    color: var(--flame-logo);
    text-shadow: 2px 2px rgba(15, 15, 15, 0.427);
}

.intro p {
    font-family: "HanumanBold";
    font-size: 1.1rem;
    padding-top: 22px;
}

.intro img {
    padding: 22px;
}


/* MIDDLE SECTION  */
.quick-links-container {
    width: 100%;
    background: rgba(112, 128, 144, 0.195);
    padding: 5.5rem 2.5rem 5.5rem 2.5rem;
}

.quick-links {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    background: rgba(6, 39, 73, 0.227);
    padding: 1rem;
    border-radius: 25px;
}

.link-image,
.link-info {
    flex: 1;
    min-width: 0;
}

.link-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 7px;
    border: solid #2195f361 2px;
    box-shadow: 0 2px 4px rgb(68, 62, 62);
}
.link-image img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
    border: solid var(--flame-logo) 5px;
    border-radius: 0px;
}

.link-info {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
}
.link-info h2 {
    text-align: center;
    font-family: "RobotoXL";
    font-size: 2.5rem;
}
.link-info p {
    font-family: "Hanuman";
    font-size: 1.5rem;
    /* text-align: center; */
}
.quick-links:hover {
    .link-info h2 {
        color: var(--flame-logo) !important;
        text-shadow: 2px 2px rgba(42, 38, 38, 0.334);
    }
}
.link-info:hover {
    background-color: #5643412f !important;
    p{
        font-family: "HanumanBold";
    }
}

.serviceLink{
    padding: 5px;
    margin: 5px;
    background: var(--flame-logo);
    border-radius: 25px;
    font-family: "Hanuman";
    color: white;
}
.serviceLink:hover{
    background: blue;
    color: red;
    
}




/* CLIENTS SCETION  */
.clients-section {
    background: #a7c0d556;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    border: dashed 2px rgba(247, 8, 8, 0.295);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(161, 148, 148);
}

.marquee-container {
    display: flex;
    width: 100%;
    position: relative;
}
.marquee-track {
    display: flex;
    animation: marquee 30s linear infinite;
    padding: 1rem 0;
}

.client-logo {
    height: 55px;
    margin: 0 2rem;
    filter: grayscale(50%);
    opacity: 0.8;
    transition: all 0.3s ease;
}
.client-logo:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.5);
}

.marquee-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(90deg, rgba(168, 106, 106, 0.249) 0%, rgba(26, 26, 26, 1) 100%);
}
.marquee-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(270deg, rgba(151, 103, 103, 0.338) 0%, rgba(26, 26, 26, 1) 100%);
}



/* MEDIA QUERIES */

/* Only for Tag Line  */
@media (min-width: 850px) {
    .tag-line {
        flex-direction: row;
    }
}

@media (max-width: 992px) {
    .quick-links {
        flex-direction: column;
    }
    .link-image,
    .link-info {
        width: 100%;
        /* flex: none; */
    }
    .link-image {
        height: 300px;
    }
}

@media (min-width: 992px) {
    .quick-links:nth-child(even){
        flex-direction: row-reverse;
    }
}




/* KEYFRAMES */

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff4000d0, 0 0 10px #ff4000c8, 0 0 20px #ff4000c5, 0 0 40px #ff4000c2, 0 0 80px #ff4000c4;
    }

    100% {
        text-shadow: 0 0 10px #0033ffcc, 0 0 20px #0033ffd3, 0 0 40px #0033ffd3, 0 0 80px #0033ffd3, 0 0 160px #0033ffdb;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


