/* Colors  */

:root {
    --flame-logo: #CD5A21;
    --fire-red: #FF0000;
    --flame-red: #E31937;
    --safety-yellow: #FFD700;
    --safety-orange: #FFD700;
    --white: #FFFFFF;
    --white-shaded: #EEEEEE;
    --black: #000000;
    --black-new: #111111
;    --trust-blue: #003366;

    --new-blue: #2c3e50;

    --sugges-1: #2946A5;
  }
